#bg{
    background-color: gray;
}

.opacity{
    opacity: .7;
    font-weight: bolder;
    color: black;
}


img{
    opacity: 100%;
}

.padding{
    padding-top: 20px;
}



#margin{
    margin-top: 20px;
    
}

