#bg{
    background-color: gray;
}

.opacity{
    opacity: .7;
    font-weight: bolder;
    color: black;
}


img{
    opacity: 100%;
}



.margin{
    margin-top: 50px;
    
}


.font{
    font-size: large;
}




